extends layout

block app
  .page
    .container
      .spacer-40
      .pure-form
        h5 DOM Selector Polyfill
        p Polyfill to loop DOM Nodes and to attach multiple Event Listener
        input.toselect(type='text', value='//javaspritz.com/cdn/dom.polyfill.min.js', readonly)
        

block scripts
  script.
    (function () {
      document.querySelectorAll('.toselect').on('click', function (e) {
        e.preventDefault();
        this.select();
        return false;
      });
    })();